@import 'tailwindcss';

:root {
  color-scheme: light dark;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Noto Sans TC', system-ui, -apple-system, sans-serif;
}
